.banner {
    background-image: url('../../../images/banner.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
}

.banner-title {
    color: orange;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.713);
}

.banner-description {
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.713);
}